body {
    background-color: #202124;
}

.header {
    display: grid;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#logo {
    display: flex;
    justify-content: center;
    object-position: center bottom;
    object-fit: contain;
}

#search {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

a, a:link, a:visited {
    text-decoration: none;
    padding: 14px 25px;
    color: white;
    text-align: center;
    display: inline-block;
}