body {
    background-color: #202124;
    display: grid;
}

.header {
    display: grid;
}

.navigation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

#logo {
    display: flex;
    justify-content: center;
    object-position: center bottom;
    object-fit: contain;
}

#search {
    display: flex;
    justify-content: center;
}

ul {
    margin-inline-end: 10px;
}

li {
    float: right;
    margin: -20px -15px;
    list-style-type: none;
}

a, a:link, a:visited {
    text-decoration: none;
    padding: 14px 25px;
    color: white;
    text-align: center;
    display: inline-block;
    font: 14px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.user-info:hover, .app-picker:hover {
    background-color: rgba(232,234,237,0.08);
    border-radius: 50px;
}