body {
    background-color: #202124;
    display: grid;
}

.header {
    display: grid;
}

.main {
    /*display: flex;*/
}

.Logo, #searchBox, #buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin-inline-end: 10px;
}

li {
    float: right;
    margin: -20px -15px;
    list-style-type: none;
}

a, a:link, a:visited {
    text-decoration: none;
    padding: 14px 25px;
    color: white;
    text-align: center;
    display: inline-block;
    font: 14px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.user-info:hover, .app-picker:hover {
    background-color: rgba(232,234,237,0.08);
    border-radius: 50px;
}

.images:hover, .gmail:hover {
    text-decoration: underline;
}